<a href="https://colab.research.google.com/github/Madhan13K/Discord-ChatBot/blob/main/parse_script.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import os
os.chdir('/content/drive/My Drive/discod')

In [ ]:

import re
import pandas as pd

In [ ]:
pattern=r'([a-zA-Z\s]+):(.+)'

In [ ]:
data={'name':[],
      'line':[]
      }

In [ ]:
with open('dataset.txt','rt') as file:
  for line in file.readlines():
    match=re.findall(pattern,line)
    if match:
      name,line=match[0]
      data['name'].append(name)
      data['line'].append(line)

In [ ]:
df=pd.DataFrame(data)

In [ ]:
df.head()

        name                           line
0  Peppa Pig                 I'm Peppa Pig.
1  Peppa Pig   is my little brother George.
2     George                        *oinks*
3  Peppa Pig             This is Mummy Pig.
4  Mummy Pig                        *oinks*

In [ ]:
sum(df['name']=='Peppa Pig')

25

In [ ]:
len(df)

60

In [ ]:
df.to_csv('Peppa_Pig.csv',index=False)